.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 120px 12%;
}
.freeBox__fjlOm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___70Vyw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
}
.freeBox___8TrMq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__jatEa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 480px;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
.text__lcgvQ {
  font-size: 50px;
  font-weight: 400;
  color: #616161;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 1px;
  text-align: center;
}
.text__viwbp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
.freeBox__ltVFf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__iOe8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-bottom: 0px;
  color: #616161;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__uShz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 240px;
  align-self: center;
  min-width: 0;
}
.link__mz6G0 {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  padding-top: 0px;
  color: #000000;
}
.text___1Qbyt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-self: center;
  min-width: 0;
}
.copyableLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___36Oo {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
}
.freeBox___1Zoh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  align-self: auto;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lMtnL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__z8Ju {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  margin: 40px auto auto;
}
.text___9R64K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  min-width: 0;
}
.text__cQwqQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
  margin-right: 0px;
  min-width: 0;
}
.freeBox__o08Pk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.text__al8T {
  width: 100%;
  height: auto;
  max-width: 960px;
  font-weight: 700;
  min-width: 0;
}
.text___3C4Jq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.freeBox__kNhPb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.freeBox__hLjJf {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  min-width: 0;
}
.link___50XV {
  position: relative;
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-style: italic;
  min-width: 0;
}
