.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 120px 12%;
}
.freeBox__fjlOm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 980px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__jatEa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 480px;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Montez";
  padding-left: 0px;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.text___3JGIt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montez";
  font-size: 40px;
  min-width: 0;
}
.freeBox__tsCqi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-top: 25px;
  border-top-width: 2px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-left-width: 1px;
  min-width: 0;
  padding: 16px 8px;
  border-style: dotted;
  border-color: #dfdfdf;
}
.freeBox__ontOj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 8px;
}
.text__uHqBc {
  height: auto;
  max-width: 800px;
  text-align: center;
}
.freeBox__whoqx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  max-width: 100%;
  width: 146px;
  align-self: flex-start;
  flex-shrink: 0;
}
.link___71938 {
  position: relative;
}
.text___4M0Od {
  position: relative;
  height: auto;
  max-width: 800px;
}
.freeBox__bNDy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jZ9Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 8px;
}
.text__znuna {
  height: auto;
  max-width: 800px;
  text-align: center;
}
.text__rwLw2 {
  position: relative;
  height: auto;
  max-width: 800px;
}
.freeBox___1Zoh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  align-self: auto;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__lMtnL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__z8Ju {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  margin: 40px auto auto;
}
.text___9R64K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  min-width: 0;
}
.text__cQwqQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: left;
  margin-right: 0px;
  min-width: 0;
}
.freeBox__o08Pk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.text__al8T {
  width: 100%;
  height: auto;
  max-width: 960px;
  font-weight: 700;
  min-width: 0;
}
.text___3C4Jq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.freeBox__kNhPb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-top: 40px;
  min-width: 0;
  padding: 8px;
}
.freeBox__hLjJf {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  min-width: 0;
}
.link___50XV {
  position: relative;
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-style: italic;
  min-width: 0;
}
