@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C600%3B1%2C700%3B1%2C900&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-V5_RnpmSunvUg: rgba(11, 166, 245, 0.77);
  --plasmic-token-brand: var(--token-V5_RnpmSunvUg);
}

.plasmic_default_styles {
  --mixin-X7ublQMm-Tbex_font-family: "Montserrat";
  --mixin-X7ublQMm-Tbex_font-size: 18px;
  --mixin-X7ublQMm-Tbex_font-weight: normal;
  --mixin-X7ublQMm-Tbex_font-style: normal;
  --mixin-X7ublQMm-Tbex_color: #616161;
  --mixin-X7ublQMm-Tbex_text-align: left;
  --mixin-X7ublQMm-Tbex_text-transform: none;
  --mixin-X7ublQMm-Tbex_line-height: 1.5;
  --mixin-X7ublQMm-Tbex_letter-spacing: normal;
  --mixin-X7ublQMm-Tbex_white-space: pre-wrap;
  --mixin-X7ublQMm-Tbex_user-select: text;
  --mixin-ii06MuoMiqRhn_font-family: "Inter";
  --mixin-ii06MuoMiqRhn_color: #000000;
  --mixin-ii06MuoMiqRhn_font-size: 72px;
  --mixin-ii06MuoMiqRhn_font-weight: 900;
  --mixin-ii06MuoMiqRhn_letter-spacing: -4px;
  --mixin-ii06MuoMiqRhn_line-height: 1;
  --mixin-GzF26TGMJo_O5_font-family: "Inter";
  --mixin-GzF26TGMJo_O5_color: #000000;
  --mixin-GzF26TGMJo_O5_font-size: 48px;
  --mixin-GzF26TGMJo_O5_font-weight: 700;
  --mixin-GzF26TGMJo_O5_letter-spacing: -1px;
  --mixin-GzF26TGMJo_O5_line-height: 1.1;
  --mixin-imcbrx19BaZO2_font-family: "Inter";
  --mixin-imcbrx19BaZO2_color: #000000;
  --mixin-imcbrx19BaZO2_font-size: 32px;
  --mixin-imcbrx19BaZO2_font-weight: 600;
  --mixin-imcbrx19BaZO2_letter-spacing: -0.8px;
  --mixin-imcbrx19BaZO2_line-height: 1.2;
  --mixin-s2ujuuz8tWWxx_font-family: "Inter";
  --mixin-s2ujuuz8tWWxx_color: #000000;
  --mixin-s2ujuuz8tWWxx_font-size: 24px;
  --mixin-s2ujuuz8tWWxx_font-weight: 600;
  --mixin-s2ujuuz8tWWxx_letter-spacing: -0.5px;
  --mixin-s2ujuuz8tWWxx_line-height: 1.3;
  --mixin-W0acqwzKqCGPj_font-family: "Inter";
  --mixin-W0acqwzKqCGPj_color: #000000;
  --mixin-W0acqwzKqCGPj_font-size: 20px;
  --mixin-W0acqwzKqCGPj_font-weight: 600;
  --mixin-W0acqwzKqCGPj_letter-spacing: -0.3px;
  --mixin-W0acqwzKqCGPj_line-height: 1.5;
  --mixin-39n42KOdPNCYP_font-family: "Inter";
  --mixin-39n42KOdPNCYP_color: #000000;
  --mixin-39n42KOdPNCYP_font-size: 16px;
  --mixin-39n42KOdPNCYP_font-weight: 600;
  --mixin-39n42KOdPNCYP_line-height: 1.5;
  --mixin-tgMPXDSvztubZ_border-left-color: #dddddd;
  --mixin-tgMPXDSvztubZ_border-left-style: solid;
  --mixin-tgMPXDSvztubZ_border-left-width: 3px;
  --mixin-tgMPXDSvztubZ_color: #888888;
  --mixin-tgMPXDSvztubZ_padding-left: 10px;
  --mixin-dele8Hdd99h23_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-dele8Hdd99h23_border-bottom-color: #dddddd;
  --mixin-dele8Hdd99h23_border-bottom-style: solid;
  --mixin-dele8Hdd99h23_border-bottom-width: 1px;
  --mixin-dele8Hdd99h23_border-left-color: #dddddd;
  --mixin-dele8Hdd99h23_border-left-style: solid;
  --mixin-dele8Hdd99h23_border-left-width: 1px;
  --mixin-dele8Hdd99h23_border-right-color: #dddddd;
  --mixin-dele8Hdd99h23_border-right-style: solid;
  --mixin-dele8Hdd99h23_border-right-width: 1px;
  --mixin-dele8Hdd99h23_border-top-color: #dddddd;
  --mixin-dele8Hdd99h23_border-top-style: solid;
  --mixin-dele8Hdd99h23_border-top-width: 1px;
  --mixin-dele8Hdd99h23_border-bottom-left-radius: 3px;
  --mixin-dele8Hdd99h23_border-bottom-right-radius: 3px;
  --mixin-dele8Hdd99h23_border-top-left-radius: 3px;
  --mixin-dele8Hdd99h23_border-top-right-radius: 3px;
  --mixin-dele8Hdd99h23_font-family: "Inconsolata";
  --mixin-dele8Hdd99h23_padding-bottom: 1px;
  --mixin-dele8Hdd99h23_padding-left: 4px;
  --mixin-dele8Hdd99h23_padding-right: 4px;
  --mixin-dele8Hdd99h23_padding-top: 1px;
  --mixin-FnmiWbWwRM4DA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-FnmiWbWwRM4DA_border-bottom-color: #dddddd;
  --mixin-FnmiWbWwRM4DA_border-bottom-style: solid;
  --mixin-FnmiWbWwRM4DA_border-bottom-width: 1px;
  --mixin-FnmiWbWwRM4DA_border-left-color: #dddddd;
  --mixin-FnmiWbWwRM4DA_border-left-style: solid;
  --mixin-FnmiWbWwRM4DA_border-left-width: 1px;
  --mixin-FnmiWbWwRM4DA_border-right-color: #dddddd;
  --mixin-FnmiWbWwRM4DA_border-right-style: solid;
  --mixin-FnmiWbWwRM4DA_border-right-width: 1px;
  --mixin-FnmiWbWwRM4DA_border-top-color: #dddddd;
  --mixin-FnmiWbWwRM4DA_border-top-style: solid;
  --mixin-FnmiWbWwRM4DA_border-top-width: 1px;
  --mixin-FnmiWbWwRM4DA_border-bottom-left-radius: 3px;
  --mixin-FnmiWbWwRM4DA_border-bottom-right-radius: 3px;
  --mixin-FnmiWbWwRM4DA_border-top-left-radius: 3px;
  --mixin-FnmiWbWwRM4DA_border-top-right-radius: 3px;
  --mixin-FnmiWbWwRM4DA_font-family: "Inconsolata";
  --mixin-FnmiWbWwRM4DA_padding-bottom: 3px;
  --mixin-FnmiWbWwRM4DA_padding-left: 6px;
  --mixin-FnmiWbWwRM4DA_padding-right: 6px;
  --mixin-FnmiWbWwRM4DA_padding-top: 3px;
  --mixin-FATTCUIcGHoP2_display: flex;
  --mixin-FATTCUIcGHoP2_flex-direction: column;
  --mixin-FATTCUIcGHoP2_align-items: stretch;
  --mixin-FATTCUIcGHoP2_justify-content: flex-start;
  --mixin-FATTCUIcGHoP2_list-style-position: outside;
  --mixin-FATTCUIcGHoP2_padding-left: 40px;
  --mixin-FATTCUIcGHoP2_position: relative;
  --mixin-FATTCUIcGHoP2_list-style-type: decimal;
  --mixin-65xNmbeaz5mvX_display: flex;
  --mixin-65xNmbeaz5mvX_flex-direction: column;
  --mixin-65xNmbeaz5mvX_align-items: stretch;
  --mixin-65xNmbeaz5mvX_justify-content: flex-start;
  --mixin-65xNmbeaz5mvX_list-style-position: outside;
  --mixin-65xNmbeaz5mvX_padding-left: 40px;
  --mixin-65xNmbeaz5mvX_position: relative;
  --mixin-65xNmbeaz5mvX_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-X7ublQMm-Tbex_font-family);
  font-size: var(--mixin-X7ublQMm-Tbex_font-size);
  font-weight: var(--mixin-X7ublQMm-Tbex_font-weight);
  font-style: var(--mixin-X7ublQMm-Tbex_font-style);
  color: var(--mixin-X7ublQMm-Tbex_color);
  text-align: var(--mixin-X7ublQMm-Tbex_text-align);
  text-transform: var(--mixin-X7ublQMm-Tbex_text-transform);
  line-height: var(--mixin-X7ublQMm-Tbex_line-height);
  letter-spacing: var(--mixin-X7ublQMm-Tbex_letter-spacing);
  white-space: var(--mixin-X7ublQMm-Tbex_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-ii06MuoMiqRhn_font-family);
  color: var(--mixin-ii06MuoMiqRhn_color);
  font-size: var(--mixin-ii06MuoMiqRhn_font-size);
  font-weight: var(--mixin-ii06MuoMiqRhn_font-weight);
  letter-spacing: var(--mixin-ii06MuoMiqRhn_letter-spacing);
  line-height: var(--mixin-ii06MuoMiqRhn_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-GzF26TGMJo_O5_font-family);
  color: var(--mixin-GzF26TGMJo_O5_color);
  font-size: var(--mixin-GzF26TGMJo_O5_font-size);
  font-weight: var(--mixin-GzF26TGMJo_O5_font-weight);
  letter-spacing: var(--mixin-GzF26TGMJo_O5_letter-spacing);
  line-height: var(--mixin-GzF26TGMJo_O5_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-imcbrx19BaZO2_font-family);
  color: var(--mixin-imcbrx19BaZO2_color);
  font-size: var(--mixin-imcbrx19BaZO2_font-size);
  font-weight: var(--mixin-imcbrx19BaZO2_font-weight);
  letter-spacing: var(--mixin-imcbrx19BaZO2_letter-spacing);
  line-height: var(--mixin-imcbrx19BaZO2_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-s2ujuuz8tWWxx_font-family);
  color: var(--mixin-s2ujuuz8tWWxx_color);
  font-size: var(--mixin-s2ujuuz8tWWxx_font-size);
  font-weight: var(--mixin-s2ujuuz8tWWxx_font-weight);
  letter-spacing: var(--mixin-s2ujuuz8tWWxx_letter-spacing);
  line-height: var(--mixin-s2ujuuz8tWWxx_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-W0acqwzKqCGPj_font-family);
  color: var(--mixin-W0acqwzKqCGPj_color);
  font-size: var(--mixin-W0acqwzKqCGPj_font-size);
  font-weight: var(--mixin-W0acqwzKqCGPj_font-weight);
  letter-spacing: var(--mixin-W0acqwzKqCGPj_letter-spacing);
  line-height: var(--mixin-W0acqwzKqCGPj_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-39n42KOdPNCYP_font-family);
  color: var(--mixin-39n42KOdPNCYP_color);
  font-size: var(--mixin-39n42KOdPNCYP_font-size);
  font-weight: var(--mixin-39n42KOdPNCYP_font-weight);
  line-height: var(--mixin-39n42KOdPNCYP_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-tgMPXDSvztubZ_color);
  padding-left: var(--mixin-tgMPXDSvztubZ_padding-left);
  border-left: var(--mixin-tgMPXDSvztubZ_border-left-width)
    var(--mixin-tgMPXDSvztubZ_border-left-style)
    var(--mixin-tgMPXDSvztubZ_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-dele8Hdd99h23_background);
  font-family: var(--mixin-dele8Hdd99h23_font-family);
  border-radius: var(--mixin-dele8Hdd99h23_border-top-left-radius)
    var(--mixin-dele8Hdd99h23_border-top-right-radius)
    var(--mixin-dele8Hdd99h23_border-bottom-right-radius)
    var(--mixin-dele8Hdd99h23_border-bottom-left-radius);
  padding: var(--mixin-dele8Hdd99h23_padding-top)
    var(--mixin-dele8Hdd99h23_padding-right)
    var(--mixin-dele8Hdd99h23_padding-bottom)
    var(--mixin-dele8Hdd99h23_padding-left);
  border-top: var(--mixin-dele8Hdd99h23_border-top-width)
    var(--mixin-dele8Hdd99h23_border-top-style)
    var(--mixin-dele8Hdd99h23_border-top-color);
  border-right: var(--mixin-dele8Hdd99h23_border-right-width)
    var(--mixin-dele8Hdd99h23_border-right-style)
    var(--mixin-dele8Hdd99h23_border-right-color);
  border-bottom: var(--mixin-dele8Hdd99h23_border-bottom-width)
    var(--mixin-dele8Hdd99h23_border-bottom-style)
    var(--mixin-dele8Hdd99h23_border-bottom-color);
  border-left: var(--mixin-dele8Hdd99h23_border-left-width)
    var(--mixin-dele8Hdd99h23_border-left-style)
    var(--mixin-dele8Hdd99h23_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-FnmiWbWwRM4DA_background);
  font-family: var(--mixin-FnmiWbWwRM4DA_font-family);
  border-radius: var(--mixin-FnmiWbWwRM4DA_border-top-left-radius)
    var(--mixin-FnmiWbWwRM4DA_border-top-right-radius)
    var(--mixin-FnmiWbWwRM4DA_border-bottom-right-radius)
    var(--mixin-FnmiWbWwRM4DA_border-bottom-left-radius);
  padding: var(--mixin-FnmiWbWwRM4DA_padding-top)
    var(--mixin-FnmiWbWwRM4DA_padding-right)
    var(--mixin-FnmiWbWwRM4DA_padding-bottom)
    var(--mixin-FnmiWbWwRM4DA_padding-left);
  border-top: var(--mixin-FnmiWbWwRM4DA_border-top-width)
    var(--mixin-FnmiWbWwRM4DA_border-top-style)
    var(--mixin-FnmiWbWwRM4DA_border-top-color);
  border-right: var(--mixin-FnmiWbWwRM4DA_border-right-width)
    var(--mixin-FnmiWbWwRM4DA_border-right-style)
    var(--mixin-FnmiWbWwRM4DA_border-right-color);
  border-bottom: var(--mixin-FnmiWbWwRM4DA_border-bottom-width)
    var(--mixin-FnmiWbWwRM4DA_border-bottom-style)
    var(--mixin-FnmiWbWwRM4DA_border-bottom-color);
  border-left: var(--mixin-FnmiWbWwRM4DA_border-left-width)
    var(--mixin-FnmiWbWwRM4DA_border-left-style)
    var(--mixin-FnmiWbWwRM4DA_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-FATTCUIcGHoP2_display);
  flex-direction: var(--mixin-FATTCUIcGHoP2_flex-direction);
  align-items: var(--mixin-FATTCUIcGHoP2_align-items);
  justify-content: var(--mixin-FATTCUIcGHoP2_justify-content);
  list-style-position: var(--mixin-FATTCUIcGHoP2_list-style-position);
  padding-left: var(--mixin-FATTCUIcGHoP2_padding-left);
  position: var(--mixin-FATTCUIcGHoP2_position);
  list-style-type: var(--mixin-FATTCUIcGHoP2_list-style-type);
  flex-column-gap: var(--mixin-FATTCUIcGHoP2_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-65xNmbeaz5mvX_display);
  flex-direction: var(--mixin-65xNmbeaz5mvX_flex-direction);
  align-items: var(--mixin-65xNmbeaz5mvX_align-items);
  justify-content: var(--mixin-65xNmbeaz5mvX_justify-content);
  list-style-position: var(--mixin-65xNmbeaz5mvX_list-style-position);
  padding-left: var(--mixin-65xNmbeaz5mvX_padding-left);
  position: var(--mixin-65xNmbeaz5mvX_position);
  list-style-type: var(--mixin-65xNmbeaz5mvX_list-style-type);
  flex-column-gap: var(--mixin-65xNmbeaz5mvX_flex-column-gap);
}
